<div class="form-container shadow-effect secondary-background">
    <div class="d-flex justify-content-center">
        <h2 class="container-title secondary-text primary-background py-1 px-5 fs-4 fw-bold small-caps">{{commentFormTitle}}</h2>
    </div>

    <div class="text-center mt-3">
        <p class="primary-text comment-subtitle">You can use the form below to comment.</p>
    </div>
    
    <form class="container">
        <div class="mb-3">
            <label for="Name" class="form-label primary-text small-caps">Name*</label>
            <input id="Name" type="text" class="form-control primary-background-light primary-text" placeholder="Type your name">
        </div>

        <div class="mb-3">
            <label for="Comment" class="form-label primary-text small-caps">Comment*</label>
            <textarea id="Comment" type="text" class="form-control primary-background-light primary-text" placeholder="Type your comment"></textarea>
        </div>
        
        <div class="mb-3 text-center">
            <button class="form-button button-light primary-text secondary-background small-caps">Send</button>
        </div>
    </form>
</div>