<div class="form-container shadow-effect secondary-background">
    <div class="d-flex justify-content-center">
        <h2 class="container-title secondary-text primary-background py-1 px-5 fs-4 fw-bold small-caps">{{commentFormTitle}}</h2>
    </div>

    <div class="text-center mt-3">
        <p class="primary-text comment-subtitle">You can use the form below to comment.</p>
    </div>
    
    <form class="container" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="mb-3">
            <label for="sender" class="form-label primary-text small-caps">Name*</label>
            <input name="sender" type="text" class="form-control primary-background-light primary-text" 
            placeholder="Type your name" 
            [(ngModel)]='blogComment.sender' 
            required 
            minlength=3
            maxlength=30
            #sender = "ngModel">
        </div>

        <div *ngIf="sender.invalid && sender.touched">
            <p class="primary-text alert alert-text fs-6">Name must be between 3 - 30 characters long.</p>
        </div>

        <div class="mb-3">
            <label for="comment" class="form-label primary-text small-caps">Comment*</label>
            <textarea name="comment" type="text" class="form-control primary-background-light primary-text" 
            placeholder="Type your comment" 
            [(ngModel)]='blogComment.commentBody'
            required
            minlength=3
            maxlength=500></textarea>
        </div>
        
        <div *ngIf="sender.invalid && sender.touched">
            <p class="primary-text alert alert-text fs-6">Comment must be between 3 - 500 characters long.</p>
        </div>

        <div class="mb-3 text-center">
            <button class="form-button small-caps" type="submit" 
            [ngClass]="!form.valid ? 'disabled' : 'secondary-background button-light primary-text'"
            [disabled]="isAddingComment || (!form.valid)">Send</button>
        </div>
    </form>
</div>