<div class="">
    <div class="d-flex justify-content-center">
        <h2 class="py-1 px-5 fs-4 primary-200">{{commentFormTitle}}
        </h2>
    </div>

    <div class="text-center mt-1">
        <p class="comment-subtitle primary-200">You can use the form below to comment.</p>
    </div>

    <form class="container" (ngSubmit)="onSubmit()" #form="ngForm">

        <div class="mb-3 text-center">

            <mat-form-field appearance="outline" color="primary" class="form-field-container">
                <mat-label>Name</mat-label>
                <input matInput name="sender" type="text" placeholder="Type your name" [(ngModel)]='blogComment.sender'
                    required [minlength]=3 [maxlength]=30 [attr.maxlength]="2" #sender="ngModel">
                <mat-hint align="end">{{sender?.value?.length || 0}}/30</mat-hint>
                <mat-error *ngIf="sender.invalid && sender.touched">Name must be between 3 - 30 characters
                    long.</mat-error>
            </mat-form-field>


        </div>

        <div class="mb-3 text-center">
            <mat-form-field appearance="outline" color="primary" class="form-field-container">
                <mat-label>Comment</mat-label>
                <textarea matInput name="comment" type="text"
                    placeholder="Type your comment" [(ngModel)]='blogComment.commentBody' required minlength=3
                    maxlength=500 #comment="ngModel"></textarea>
                <mat-hint align="end">{{comment?.value?.length || 0}}/500</mat-hint>
                <mat-error *ngIf="comment.invalid && comment.touched">Comment must be between 3 - 500 characters
                    long.</mat-error>
            </mat-form-field>
        </div>

        <div class="mb-3 text-center">
            <button mat-raised-button color="primary" type="submit"
                [ngClass]="{'disabled' : !form.valid}"
                [disabled]="isAddingComment || (!form.valid)">Send</button>
        </div>
    </form>
</div>