<div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-4 col-md-3">
            <div class="pb-3">

                <div class="d-flex justify-content-center">
                    <h2 class="px-4 fs-4 primary-200">Filter</h2>
                </div>

                <h3 class="text-center fs-6 mt-2 primary-200">Category</h3>

                <hr class="page-hr mx-auto border border-1 primary-200-border">

                <div *ngFor="let tagCheckbox of tagsCheckboxModels; trackBy:getTagId" class="ms-4">
                    <mat-checkbox #searchOption color="primary" [disabled]=isSearching [checked]="tagCheckbox.isChecked"
                        (change)="onTagCheckboxChanged(tagCheckbox, searchOption.checked)">
                        {{tagCheckbox.tag.tagName}}
                    </mat-checkbox>
                </div>

                <h3 class="primary-200 text-center fs-6 mt-2">Year</h3>

                <hr class="page-hr mx-auto border border-1 primary-200-border">

                <div *ngFor="let yearCheckbox of yearsCheckboxModels; trackBy:getYear" class="ms-4">
                    <mat-checkbox #searchOption color="primary" [disabled]=isSearching
                        [checked]="yearCheckbox.isChecked"
                        (change)="onYearCheckboxChanged(yearCheckbox, searchOption.checked)">
                        {{yearCheckbox.year}}
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="mb-1 p-0">
                <p class="primary-200 ps-2 mb-0 text-center text-md-start">Showing {{searchResults.length}} results</p>
            </div>
            <hr class="border border-1 primary-200-border">

            <div class="row justify-content-center">

                <app-blog-card class="col-sm-auto col-md-auto col-lg-auto col-xl-auto mt-2 pe-0 mx-auto mx-md-0 mb-4" *ngFor="let blog of searchResults; trackBy:getBlogId" [blog]="blog"
                    [showImage]=true></app-blog-card>

            </div>

        </div>
    </div>
</div>