<!--

<mat-toolbar class="py-5" [ngClass]="{'sticky-top mat-elevation-z1' : isSticky}">
    <a mat-button color="primary" routerLink="home" class="ms-5">
        <h1>Blogsite</h1>
    </a>

    <span class="spacer"></span>

    <a mat-button color="primary" class="me-2" routerLink="/"><mat-icon>home</mat-icon>Home</a>
    <a mat-button color="primary" class="me-2" href="https://github.com/llNovall/BlogsiteFrontend" target="_blank">
        GitHub <mat-icon>open_in_new</mat-icon> </a>
    <a mat-button color="primary" class="me-2" routerLink="/projects">Projects <mat-icon>description</mat-icon></a>
    <a mat-button color="primary" class="me-2" routerLink="/contact"><mat-icon>contact_page</mat-icon> Contacts </a>
    <a mat-fab color="primary" class="me-5" routerLink="/search"><mat-icon>search</mat-icon></a>
</mat-toolbar>
-->
<header class="border-bottom border-2" [ngClass]="{'sticky-top' : isSticky}">

    <div class="py-4 container d-flex flex-column flex-md-row text-center bg-light">
        <a mat-button color="primary" routerLink="home" class="">
            <h1>Blogsite</h1>
        </a>
    
        <span class="spacer"></span>
    
        <a mat-button color="primary" class="me-2" routerLink="/"><mat-icon>home</mat-icon>Home</a>
        <a mat-button color="primary" class="me-2" href="https://github.com/llNovall/BlogsiteFrontend" target="_blank">
            GitHub <mat-icon>open_in_new</mat-icon> </a>
        <a mat-button color="primary" class="me-2" routerLink="/projects">Projects <mat-icon>description</mat-icon></a>
        <a mat-button color="primary" class="me-2" routerLink="/contact"><mat-icon>contact_page</mat-icon> Contacts </a>
        <a mat-mini-fab color="primary" class="mx-auto" routerLink="/search"><mat-icon>search</mat-icon></a>
    </div>
    
</header>