<mat-card class="project-container border border-2 primary-200-border">
    <mat-card-header>
        <mat-card-title>
            <h3 class="primary-200 fs-5 px-2 py-1">{{project.projectName}}</h3>
            
        </mat-card-title>
    </mat-card-header>
    
    <hr class="w-75 mx-auto">

    <mat-card-content>
        
        <div [froalaView]="project.projectDescription"
            class="project-content card-paragraph-text px-3 py-2 overflow-y-auto">
        </div>
    </mat-card-content>

    <mat-card-actions class="justify-content-center">
        <a mat-stroked-button color="primary" href="{{project.projectLink}}" rel="noopener noreferrer" target="_blank"
        class="py-1">Link<mat-icon>open_in_new</mat-icon></a>
    </mat-card-actions>
</mat-card>