<div class="d-flex justify-content-center">
    <h2 class="primary-200 py-1 px-5 fs-4">Contact</h2>
</div>

<hr class="mx-auto my-0 border border-1 primary-200-border width-80">

<div class="text-center mt-1">
    <p class="primary-200 subtitle">You can use the form below to contact me.</p>
</div>

<form class="container" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="mb-3 text-center">
        <mat-form-field appearance="outline" class="width-75">
            <mat-label>Name</mat-label>
            <input name="sender" matInput [(ngModel)]='messageToSend.sender' #sender='ngModel' required maxlength="50">
            <mat-hint align="end">{{sender?.value?.length || 0}}/200</mat-hint>
            <mat-error *ngIf="sender.errors?.['required'] && sender.touched">Name is required.</mat-error>
        </mat-form-field>
    </div>

    <div class="mb-3 text-center">
        <mat-form-field appearance="outline" class="width-75">
            <mat-label>Email</mat-label>
            <input name="email" matInput [(ngModel)]='messageToSend.email' #email='ngModel' email required>
            <mat-error *ngIf="email.errors?.['required'] && email.touched">Email is required.</mat-error>
            <mat-error *ngIf="email.errors?.['email'] && email.touched">Invalid email format.</mat-error>
        </mat-form-field>
    </div>

    <div class="mb-3 text-center">
        <mat-form-field appearance="outline" class="width-75">
            <mat-label>Subject</mat-label>
            <input name="subject" matInput [(ngModel)]='messageToSend.subject' #subject='ngModel' required minlength="5"
                maxlength="200">
            <mat-hint align="end">{{subject?.value?.length || 0}}/200</mat-hint>
            <mat-error *ngIf="subject.errors?.['required'] && subject.touched">Subject is required.</mat-error>
            <mat-error *ngIf="subject.errors?.['minlength'] && subject.touched">Subject must be at least 5
                characters.</mat-error>
        </mat-form-field>
    </div>

    <div class="mb-3 text-center">
        <mat-form-field appearance="outline" class="width-75">
            <mat-label>Message</mat-label>
            <textarea name="message" matInput [(ngModel)]='messageToSend.message' #message='ngModel' required
                minlength="5" maxlength="1000"></textarea>
            <mat-hint align="end">{{message?.value?.length || 0}}/1000</mat-hint>
            <mat-error *ngIf="message.errors?.['required'] && message.touched">Message is required.</mat-error>
            <mat-error *ngIf="message.errors?.['minlength'] && message.touched">Message must be at least 5
                characters.</mat-error>
        </mat-form-field>
    </div>

    <div class="mb-3 text-center">
        <button mat-flat-button color="primary" [disabled]="isSendingMessage || (form.invalid)">Send</button>
    </div>
</form>