<mat-card class="card-size card-border">
    <mat-card-header>
        <mat-card-title-group class="d-block">
            <img mat-card-sm-image class="card-img" *ngIf="showImage" src="{{blog.imageUrl}}" alt="...">
            <div class="d-flex justify-content-center">
                <ng-container *ngFor="let tag of blog.tags | slice:0:4">
                    <a mat-button color="primary" routerLink="/search/{{tag.id}}" class="card-tag">{{tag.tagName}}</a>
                </ng-container>
            </div>

            <span class="d-flex justify-content-center">

                <ng-container *ngIf="blog.isFeatured">
                    <span class="card-stats-icon-background primary-background"><i
                            class="bi bi-fire card-stats-icon secondary-text"></i></span>
                    <span class="card-stats-text primary-text ms-1">Featured</span>
                </ng-container>


                <span class="card-stats-icon-background primary-background ms-2"><i
                        class="bi bi-eye-fill card-stats-icon secondary-text"></i></span>
                <span class="card-stats-text primary-text ms-1">{{blog.views}}</span>

                <span class="card-stats-icon-background primary-background ms-2"><i
                        class="bi bi-calendar4-week card-stats-icon secondary-text"></i></span>
                <span class="card-stats-text primary-text ms-1">{{blog.createdAt | date:'d. MMM yyyy'}}</span>
            </span>
        </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
        <div class="card-content-size mt-2">
            <h3 class="card-title card-title-text small-caps text-center mb-0">{{blog.title}}</h3>
            <hr class="mt-0 mx-auto">

            <p [froalaView]="blog.content" class="card-paragraph card-paragraph-text mb-0 text-center mt-1"></p>
        </div>

    </mat-card-content>

    <mat-card-actions class="justify-content-center">
        <a mat-stroked-button color="primary" routerLink="/page/{{blog.id}}" href="">
            <span class="d-block"><i class="bi bi-book-fill secondary-text"></i> Read</span>
        </a>
    </mat-card-actions>

</mat-card>