<div class="form-container secondary-background px-3 py-2">
    <div class="row">
        <div class="col">
            <h3 class="primary-text small-caps mb-0 comment-title">{{blogComment.sender}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="primary-text small-caps comment-time mb-0">{{blogComment.createdAt | postedAgo}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="comment-body mb-0">
                {{blogComment.commentBody}}
            </p>
        </div>
    </div>
    <div class="my-2 text-left">
        <button class="comment-button button-light primary-text secondary-background small-caps"
            (click)="onReply()">Reply</button>
    </div>
</div>

<div *ngIf="reply" class=" mt-2">

    <div class="mt-4 d-flex justify-content-center">
        <app-comment-form [commentFormTitle]="'Reply to Comment'" [blogId]="blogComment.blogId" [parentCommentId]="blogComment.id"></app-comment-form>
    </div>

</div>

<div *ngIf="!showReplies && replies.length > 0" class="text-center mt-2">
    <button class="comment-button button-light primary-text secondary-background small-caps" (click)="showMoreReplies()">Show more replies ({{replies.length}})</button>
</div>
<ng-container *ngIf="showReplies">
    <div *ngFor="let reply of replies" class="d-flex justify-content-end mt-2">
        <div style="width: 98%;">
            <div class="mb-2">
                <app-comment-item [blogComment]="reply" [parentCommentId]="blogComment.id"></app-comment-item>
            </div>
        </div>
    </div>
</ng-container>