.comment-title{
    font-size: 1.2em;
}

.comment-time{
    font-size: 0.8em;
    color: #959595 !important;
}

.comment-body{
    font-size: 0.9em;
    color: #5C5C5C !important;
}

.comment-button{
    width: 200px;
}
