<section id="comment-section">
    <div class="title-border mb-3 p-0">
        <p class="primary-background-light primary-text ps-2 mb-0">Showing 101 results</p>
    </div>

    <div>

        <div class="mt-2">
            <app-comment-item></app-comment-item>
        </div>
        
        <div class="d-flex justify-content-end mt-2" >
            <div style="width: 98%;">
                <div class="mb-2">
                    <app-comment-item></app-comment-item>
                </div>

                <div class="d-flex justify-content-end mt-2" >
                    <div style="width: 96%;">
                        <app-comment-item></app-comment-item>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <div class="mt-2">
            <app-comment-item></app-comment-item>
        </div>

        <div class="mt-2">
            <app-comment-item></app-comment-item>
        </div>

        <div class="mt-2">
            <app-comment-item></app-comment-item>
        </div>

        <div class="mt-2">
            <app-comment-item></app-comment-item>
        </div>

        <div class="mt-2">
            <app-comment-item></app-comment-item>
        </div>

        <div class="mt-2">
            <app-comment-item></app-comment-item>
        </div>
    </div>
</section>