<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-auto">

            <div class="dashboard-item card-border shadow-effect secondary-background text-center">
                <h3 class="small-caps primary-background secondary-text fs-5 px-2 py-1 fw-bold">Tags</h3>

                <a routerLink="tags" class="d-block text-center nav-link primary-text small-caps py-1">Add / Remove tags
                </a>
            </div>
        </div>

        <div class="col-auto">

            <div class="dashboard-item card-border shadow-effect secondary-background text-center">
                <h3 class="small-caps primary-background secondary-text fs-5 px-2 py-1 fw-bold">Blog Page</h3>

                <a routerLink="blogs" class="d-block text-center nav-link primary-text small-caps py-1">Add / Remove blogs
                </a>
            </div>
        </div>

        <div class="col-auto">

            <div class="dashboard-item card-border shadow-effect secondary-background text-center">
                <h3 class="small-caps primary-background secondary-text fs-5 px-2 py-1 fw-bold">Projects</h3>

                <a routerLink="projects" class="d-block text-center nav-link primary-text small-caps py-1">Add / Remove projects
                </a>
            </div>
        </div>
    </div>
</div>