<footer>
    <mat-toolbar>
        <mat-toolbar-row class="d-flex justify-content-center footer-text-color footer-text-size">
            <a mat-button color="primary" class="me-2" routerLink="/">Privacy</a>
            <a mat-button color="primary" class="me-2" href="https://github.com/llNovall/BlogsiteFrontend"
                target="_blank">
                GitHub </a>
            <a mat-button color="primary" class="me-2" routerLink="/projects">Projects</a>
            <a mat-button color="primary" class="me-2" routerLink="/contact">
                Contacts </a>
            <a mat-button color="primary" class="me-5" routerLink="/search">Search</a>
        </mat-toolbar-row>
        <mat-toolbar-row class="d-flex justify-content-center">
            <div class="footer-text-size footer-text-color">@Copyright {{copyrightDate | date: "yyyy"}} Blogsite</div>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>