<footer class="border-top border-1" [ngClass]="{'position-fixed bottom-0 start-0 end-0' : isPositionFixed}">

    <div class="container">
        <div class=" d-flex flex-column flex-md-row text-center justify-content-center">
            <a mat-button color="primary" class="me-2" routerLink="/">Privacy</a>
            <a mat-button color="primary" class="me-2" href="https://github.com/llNovall/BlogsiteFrontend"
                target="_blank">
                GitHub </a>
            <a mat-button color="primary" class="me-2" routerLink="/projects">Projects</a>
            <a mat-button color="primary" class="me-2" routerLink="/contact">
                Contacts </a>
            <a mat-button color="primary" class="me-2" routerLink="/search">Search</a>
        </div>

        <div class="d-flex justify-content-center">
            <div class="footer-text-size footer-text-color">@Copyright {{copyrightDate | date: "yyyy"}} Blogsite</div>
        </div>
    </div>

</footer>