<footer class="primary-background secondary-text">
    <div class="container pt-2">
        <div class="row text-center">
            <div class="col">
                <div class="nav-item">
                    <a href="" class="nav-link small-caps">Privacy</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-item">
                    <a routerLink="contact" class="nav-link small-caps">Contact</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-item">
                    <a routerLink="search" class="nav-link small-caps">Archives</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-item">
                    <a href="" class="nav-link small-caps">Github</a>
                </div>
            </div>
            <div class="col">
                <div class="nav-item">
                    <a routerLink="projects" class="nav-link small-caps">Projects</a>
                </div>
    
            </div>
        </div>
        <div class="text-center small-caps mt-2">Copyright Blog Site</div>
    </div>
</footer>