<section class="container text-center section-featured">

    <div class="row align-items-center" style="height: 90vh;">
        <div class="col-12">
            <h2 class="py-1 px-5 fs-4">Featured</h2>
            <div class="row justify-content-center">

                <div *ngFor="let blog of featuredBlogs; trackBy:getBlogId"
                    class="col-auto col-md-auto col-lg-auto col-xl-auto mt-2">
                    <app-blog-card [blog]="blog" [showImage]="true"></app-blog-card>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="container text-center section-posts">

    <div class="row align-items-center" style="height: 90vh;">
        <div class="col-12">
            <h2 class="py-1 px-5 fs-4">All Posts</h2>
            <div class="row justify-content-center">

                <div *ngFor="let blog of blogs; trackBy:getBlogId"
                    class="col-auto col-md-auto col-lg-auto col-xl-auto mt-2">
                    <app-blog-card [blog]="blog" [showImage]="true"></app-blog-card>
                </div>

            </div>
        </div>
    </div>
</section>
