<div class="stats-container m-auto">

    <div class="d-flex flex-row justify-content-evenly mt-3">

        <div class="d-flex" *ngIf="blog.isFeatured">
            <div class="circle icon-size primary-background"><i class="bi bi-fire icon secondary-text"></i></div>
            <div class="stats-text primary-text ms-1">Featured</div>
        </div>

        <div class="d-flex">
            <div class="circle icon-size primary-background"><i class="bi bi-eye-fill icon secondary-text"></i>
            </div>
            <div class="stats-text primary-text ms-1">{{blog.views}}</div>
        </div>

        <div class="d-flex">
            <div class="circle icon-size primary-background"><i
                    class="bi bi-calendar4-week icon secondary-text"></i></div>
            <div class="stats-text primary-text ms-1">{{blog.createdAt | date:'d. MMM yyyy'}}</div>
        </div>

    </div>

</div>

<h1 class="text-center primary-text small-caps fw-bold mt-2 fs-4">{{blog.title}}</h1>

<div class="d-flex justify-content-center">
    <ng-container *ngFor="let tag of blog.tags | slice:1:5">
        <a routerLink="../../search/{{tag.id}}"
            class="tag primary-background secondary-text small-caps fw-light text-center px-3 mx-1">{{tag.tagName}}</a>
    </ng-container>
</div>

<hr class="page-hr mx-auto mt-3 primary-text border-2 opacity-100">

<div [froalaView]="blog.content" class="mt-2 mb-2 blog">

</div>

<hr class="page-hr mx-auto mt-3 primary-text border-2 opacity-100">