.stats-container{
    width: 430px;
    background-color: #F2F2F2;
}

.icon-size{
    width: 14px;
    height: 14px;
}

.stats-text{
    font-size: 0.8em;
    padding-left: 0.3em;
    padding-top: 0.15em;
}

.stats-padding{
    padding: 0.1em 0.3em;
}

.tag{
    font-size: 0.7em;
    text-decoration: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.page-hr{
    width: 80%;
}

.blog{
    color: #868686!important;
    font-size: 0.8em;
}

.no-underline{
    text-decoration: none !important;
}